<button type="button" (click)="logout()">Logout</button>
<ul id="messages" *ngFor="let msg of messages">{{msg.from}}: {{msg.msg}}</ul>
    <form id="chatForm" (ngSubmit)="sendMessage()" action="">
      <input id="m" name="message" [(ngModel)]="message" autocomplete="off" /><button>Send</button>
    </form>
    <script>
</script>
