<div>
    <form #form="ngForm" (ngSubmit)="login()">
            <h3>Login</h3>
            <input type="text" required name="username" [(ngModel)]="username" />
            <input [(ngModel)]="password" required name="password" type="password" />
            <button [disabled]="!form.valid">Login</button>
        </form>
</div>
<div>
    <form #newForm="ngForm" (ngSubmit)="register()">
            <h3>Register</h3>
            <input type="text" required name="newUsername" [(ngModel)]="newUsername" />
            <input [(ngModel)]="newPassword" required name="newPassword" type="password" />
            <button [disabled]="!newForm.valid">Login</button>
        </form>
</div>

